<%- include('../partials/header'); %>

    <main class="main container">
        <h1>Wheres the MONEY??</h1>
        <img src="/public/media/OIP.jpg">
    </main>

<%- include('../partials/footer'); %>